div.example {
 
    padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
   font-size: 30px;
}

@media screen and (min-width: 601px) {
  div.example {
     font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 15px;
   
  }
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 150%;
    border: 1px solid #ddd;
  
}

th, td {
    text-align: left;
    padding: 8px;
}
tr{
  margin-top: 20px;
}
tr, td#img{
  text-align: right;
}
tr{
  background-color:#a3a3c2;
}